@import url("base.css");
body{
	height: 10rem;
}
@font-face {
  font-family: 'iconfont';  /* project id 571061 */
  src: url('https://at.alicdn.com/t/font_571061_4r29k29r2arcz0k9.eot');
  src: url('https://at.alicdn.com/t/font_571061_4r29k29r2arcz0k9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571061_4r29k29r2arcz0k9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571061_4r29k29r2arcz0k9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571061_4r29k29r2arcz0k9.svg#iconfont') format('svg');
}
.iconfont
{
	font-family:'iconfont';
}
i
{
	font-style: normal;
}
.top{
	width: 100%;
	height: 1.5rem;
	background: #fff;
	position: fixed;
    top: 0;
    left: 0;
}
.top_left{
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	line-height: 1.5rem;
	float: left;
}
.icon1{
	font-size: 0.7rem;
	color: #4a4a4a; 
}
.top_zi{
	width: 4.5rem;
	height: 100%;
	background: #fff;
	margin-left: 30%;
}
.top_zi p{
	font-size: 0.5rem;
	color: #000;
	line-height: 1.5rem
}
.talk{
	width: 100%;
	height: 15rem;
	background: #f7f7f7;
	overflow: hidden;
	margin-top: 1.5rem;
}
.zi{
	width: 10rem;
	height: 1rem;
	margin: 0.7rem auto;
}
.zi p{
	font-size: 0.3rem;
	color: #a4a5a9;
}
.tab{
	width: 100%;
	height: 1.5rem;
	background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #999999;
}
.tab_left{
	width: 1.4rem;
	height: 100%;
	margin-left: 0.4rem;
	float: left;
}
.icon2{
	font-size: 1rem;
	color: #999999;
	line-height: 1.5rem;
}
.tab_mid{
	width: 6.5rem;
	height: 1rem;
	border-radius: 0.2rem;
	border: 1px solid #999;
	float: left;
	margin-top: 0.21rem;
}
.tab_mid p{
	font-size: 0.45rem;
	color: #999;
	line-height: 1rem;
	padding-left: 0.2rem;
}
.tab_right{
	width: 1.5rem;
	height: 1rem;
	background: #ff6766;
	float: right;
	margin-top: 0.21rem;
	border-radius: 0.2rem;
	margin-right: 0.45rem;
}
.tab_right p{
	font-size: 0.45rem;
	color: #fff;
	line-height: 1rem;
	margin-left: 0.26rem
}
