@import url("base.css");
body{
	height: 70rem;
}
@font-face {
  font-family: 'iconfont';  /* project id 571670 */
  src: url('https://at.alicdn.com/t/font_571670_pkwlzwp2vdcp7gb9.eot');
  src: url('https://at.alicdn.com/t/font_571670_pkwlzwp2vdcp7gb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571670_pkwlzwp2vdcp7gb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_571670_pkwlzwp2vdcp7gb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571670_pkwlzwp2vdcp7gb9.svg#iconfont') format('svg');
}
.iconfont
{
	font-family:'iconfont';
}
i
{
	font-style: normal;
}
.big{
	width: 100%;
	height: 11rem;
}
.top{
	width: 100%;
	height: 1.5rem;
	border-bottom: 1px solid #d7d7d7;
	background: #fff;
	position: fixed;
    top: 0;
    left: 0;
}
.top_left{
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	line-height: 1.5rem;
	float: left;
}
.icon10{
	font-size: 0.7rem;
	color: #4a4a4a; 
}
.top_zi{
	width: 2rem;
	height: 100%;
	background: #fff;
	margin-left: 45%;
}
.top_zi p{
	font-size: 0.6rem;
	color: #303030;
	line-height: 1.5rem;
}
.top_right{
	width: 3rem;
	height: 100%;
	float: right;
	margin-top: -1.5rem;
}
.icon5{
	font-size: 0.7rem;
	color: #4a4a4a;
	margin-left: 1.7rem;
	line-height: 1.5rem;
}
.hezi{
	width: 100%;
	height: 1.5rem;
	background: pink;
	margin-top: 1.5rem;
	border-bottom: 1px solid #d7d7d7;
}
.xiao{
	width: calc(100% / 4);
	height: 100%;
	background: #fff;
	float: left;
}
.xiao p{
	font-size: 0.45rem;
	color: #303030;
	margin-top: 0.4rem;
	margin-left: 0.6rem;
	float: left;
}
.icon6{
	font-size: 0.4rem;
	color: #b4b4b4;
}
.tu{
	width: 100%;
	height: 7.2rem;
	position: relative;
}
.tu img{
	width: 100%;
}
.price{
	width: 2rem;
	height: 1.3rem;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 5.7rem;
	left: 0.5rem;
}
.price p{
	font-size: 0.6rem;
	color: #fff;
	text-align: center;
	line-height: 1.3rem;
}
.zi{
	width: 100%;
	height: 2rem;
}
.zi p{
	font-size: 0.5rem;
	color: #000;
	margin-left: 0.5rem;
	line-height: 2rem;
}
.zi h5{
	font-size: 0.4rem;
	color: #7c7d7f;
	margin-top: -0.2rem;
	margin-left: 0.5rem;
	/* margin-bottom: 0.4rem; */
}
.icon7{
	font-size: 0.5rem;
	color: #f5a918;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	float: left;
}
.zi h4{
	font-size: 0.4rem;
	color: #7c7d7f;
	margin-top: 0.5rem;
}
.tab{
	width: 100%;
	height: 1.45rem;
	background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f2f2f2;
}
.tab_box{
	width: calc(100% / 4);
	height: 100%;
	background: #fff;
	float: left;
}
.boxx{
	display: block;
	width: 1rem;
	height: 1.2rem;
	margin: 0.1rem auto 0;
}
.boxx1{
	display: block;
	width: 1rem;
	height: 1.2rem;
	margin: 0.1rem auto 0;
}
.icon3{
	font-size: 0.6rem;
	color: #303030;
	margin-left: 0.2rem;
}
.boxx1 p{
	font-size: 0.35rem;
	color: #303030;
	text-align: center;
}
.icon2{
	font-size: 0.6rem;
	color: #fa6271;
	margin-left: 0.2rem;
}
.boxx p{
	font-size: 0.35rem;
	color: #fa6271;
	text-align: center;
}
