@import url("base.css");
body{
	height: 91rem;
}
@font-face {
  font-family: 'iconfont';  /* project id 570856 */
  src: url('https://at.alicdn.com/t/font_570856_y7tchcmsxzzx5hfr.eot');
  src: url('https://at.alicdn.com/t/font_570856_y7tchcmsxzzx5hfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_570856_y7tchcmsxzzx5hfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_570856_y7tchcmsxzzx5hfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_570856_y7tchcmsxzzx5hfr.svg#iconfont') format('svg');
}
.iconfont
{
	font-family:'iconfont';
}
i
{
	font-style: normal;
}
.banner{
	width: 100%;
	height: 4.74rem;
	position: relative;
}
/* .banner ul{
	width: 100%;
} */
.banner ul li{
	position: absolute;
	top: 0;
	left: 0;
}
.banner ul li img{
	width: 100%;
	height: 100%;
}
.btn{
	width: 2rem;
	height: 0.2rem;
	background: pink;
	position: absolute;
	bottom: 0.3rem;
	left: 40%;
}
.btn li{
	width: 0.2rem;
	height: 0.2rem;
	background: #000;
	float: left;
}
.big_find{
	width: 100%;
	height: 6.4rem;
	background: #fcdace;
	overflow: hidden;
}
.picture img{
	width: 100%;
}
.find{
	width: 9.5rem;
	height: 6rem;
	background: #fff;
	margin: 0.2rem auto;
	border-radius: 0.3rem;
	box-shadow: 0rem 0.1rem 0.05rem 0.05rem rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.box{
	width: 8rem;
	height: 0.8rem;
	margin: 0.5rem auto 0;
	border-bottom: 1px solid #9b9b9b;
}
.icon1{
	font-size: 0.4rem;
	color: #9b9b9b;
	margin-top: 0.1rem;
	float: left;
}
.box p{
	font-size: 0.4rem;
	color: #9b9b9b;
	margin-left: 1rem;
}
.kuang{
	width: 7rem;
	height: 1.2rem;
	background: #ff6766;
	border-radius: 1.5rem;
	margin: 0.4rem auto 0;
}
.kuang p{
	font-size: 0.5rem;
	color: #fff;
	text-align: center;
	line-height: 1.2rem;
}
.big_tian{
	width: 100%;
	height: 6.5rem;
	background: #fff;
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
}
.tian_top{
	width: 9.5rem;
	height: 1.2rem;
	background: #fff;
	margin: 0.8rem auto 0;
}
.tian_top p{
	font-size: 0.55rem;
	color: #494949;
	font-weight: bold;
}
.tian_tu{
	width: 9.5rem;
	height: 5rem;
	background: #fff;
	margin: 0 auto;
}
.tu_box{
	width: 3.01rem;
	height: 4.5rem;
	float: left;
	margin-right: 0.23rem;
}
.tu_box:last-child{
	margin-right: 0;
}
.tu_box img{
	width: 3.01rem;
	height: 3.01rem;
}
.tu_box p{
	font-size: 0.45rem;
	color: #393939;
}
.zhu{
	width: 100%;
	height: 11rem;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
}
.zhu_top{
	width: 9.5rem;
	height: 1.5rem;
	background: #fff;
	margin: 0 auto;
}
.top_left{
	width: 5rem;
	height: 1rem;
	background: #fff;
	float: left;
	line-height: 1.5rem
}
.top_left p{
	font-size: 0.5rem;
	color: #000;
	font-weight: bold;
}
.top_right{
	width: 2rem;
	height: 1rem;
	float: right;
	line-height: 1.5rem;
}
.top_right p{
	font-size: 0.5rem;
	color: #4d4d4d;
}
.pic{
	width: 9.5rem;
	height: 6.3rem;
	margin: 0 auto;
}
.pic img{
	width: 100%;
}
.zhu h3{
	font-size: 0.45rem;
	color: #3d3d3d;
    font-weight: bold;
    margin: 0.3rem 0 0 0.65rem;
}
.zhu h5{
	font-size: 0.4rem;
	color: #7c7d7f;
    margin: 0.3rem 0 0 0.65rem;
}
.tab{
	width: 100%;
	height: 1.45rem;
	background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f2f2f2;
}
.tab_box{
	width: calc(100% / 4);
	height: 100%;
	background: #fff;
	float: left;
}
.boxx{
	display: block;
	width: 1rem;
	height: 1.2rem;
	margin: 0.1rem auto 0;
}
.boxx1{
	display: block;
	width: 1rem;
	height: 1.2rem;
	margin: 0.1rem auto 0;
}
.icon3{
	font-size: 0.6rem;
	color: #303030;
	margin-left: 0.2rem;
}
.boxx1 p{
	font-size: 0.35rem;
	color: #303030;
	text-align: center;
}
.icon2{
	font-size: 0.6rem;
	color: #fa6271;
	margin-left: 0.2rem;
}
.boxx p{
	font-size: 0.35rem;
	color: #fa6271;
	text-align: center;
}
